.wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1200px;
}

#headerInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logoName {
  font-family: Georgia;
  font-size: 32px;
  font-weight: 400;
  line-height: 35.2px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #545454;
}

.logoSubName {
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  line-height: 14.95px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #292929;
}

#links {
  display: flex;
  align-items: center;
  gap: 35px;
}

.link a {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #545454;
  transition: .2s;
}

.link a:hover {
  color: #292929;
}

.selected {
  border-bottom: 3px solid #F1CDB3;
}

.selected a {
  color: #292929;
  cursor: default;
}